<!DOCTYPE html>
<html data-bs-theme="light" lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="/css/IRANSansXFaNum.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/2-columns-media-image-video-carousel-map-2-columns-media1.css">
    <link rel="stylesheet" href="/css/Bold-BS4-CSS-Image-Slider.css">
    <link rel="stylesheet" href="/css/Bootstrap-4---Full-Video-Background-v2.css">
    <link rel="stylesheet" href="/css/cards-d_style.css">
    <link rel="stylesheet" href="/css/Footer-Clean-icons.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/Image-Swiper-with-Thumbs-swiper.css">
    <link rel="stylesheet" href="/css/Mega-Menu.css">
    <link rel="stylesheet" href="/css/megamenu-dark-style.css">
    <link rel="stylesheet" href="/css/megamenu-dark.css">
    <link rel="stylesheet" href="/css/News-Cards-4-Columns-v2.css">
    <link rel="stylesheet" href="/css/News-Cards.css">
    <link rel="stylesheet" href="/css/Portfolio-with-Category-switcher.css">
    <link rel="stylesheet" href="/css/responsive-blog-card-slider.css">
    <link rel="stylesheet" href="/css/Responsive-Image-Grid.css">
    <link rel="stylesheet" href="/css/Search-Input-responsive.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/Video-Parallax-Background-v2-multiple-parallax.css">
    <link rel="stylesheet" href="/css/Video-Parallax-Background-v3.css">
    <link rel="stylesheet" href="/css/Video-Responsive.css">
    <link rel="stylesheet" href="/css/zectStudio---Sidebar-Menu-by-bbbootstrap.css">
    <link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
</head>

<body style="background: rgb(255,255,255);color: var(--white-color);border-width: 0px;border-color: var(--bs-dark-border-subtle);border-top-style: none;font-family: 'IRANSansXFaNum';display: block;">
    <nav class="navbar navbar-expand fixed-top bg-dark align-self-start py-3" data-bs-theme="dark" style="border-top: 2px none var(--bs-secondary);border-bottom-width: 2px;border-bottom-color: var(--bs-gray-500);background: rgb(33, 37, 41);">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/" style="margin-left: 10px;"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon" style="width: 96px;height: 37px;background: rgba(13,110,253,0);"><img class="img-fluid logo" src="/img/logo1.png"></span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse d-flex align-items-center align-self-center" id="navcol-5">
                <div class="dropdown me-auto dropdown-hover" style="padding-top: 6px;padding-bottom: 6px;padding-right: 12px;padding-left: 12px;background: var(--bs-secondary-bg);border: 1px solid var(--bs-light-border-subtle);"><a class="dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="color: var(--white-color);"><!-- https://flagpedia.net/download/api -->
<img class="flag"
  src="https://flagcdn.com/h20/ir.png"
  srcset="https://flagcdn.com/h40/ir.png 2x,
    https://flagcdn.com/h60/ir.png 3x"
  height="20"
  alt="Iran">فارسی&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</a>
                    <div class="dropdown-menu" style="z-index: 5;"><a class="dropdown-item" href="#" style="color: var(--white-color);">English</a></div>
                </div>
                <ul class="navbar-nav d-flex" style="margin-right: 0px;">
                    <li class="nav-item d-flex align-items-center" style="margin-left: 5px;"><i class="fab fa-facebook-square fs-4"></i></li>
                    <li class="nav-item d-flex align-items-center"><i class="fab fa-instagram fs-4" style="margin-left: 5px;"></i></li>
                    <li class="nav-item d-flex align-items-center"><i class="fab fa-linkedin fs-4" style="margin-left: 5px;"></i></li>
                    <li class="nav-item d-flex align-items-center"><i class="fab fa-pinterest-square fs-4" style="margin-left: 5px;"></i></li>
                    <li class="nav-item d-flex align-items-center"><i class="fab fa-twitter-square fs-4" style="margin-left: 5px;"></i></li>
                    <li class="nav-item d-flex align-items-center"><i class="fab fa-youtube-square fs-4" style="margin-left: 5px;"></i></li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg fixed-top bg-dark" style="margin-top: 79px;background: rgb(33,37,41);color: rgb(247, 246, 251);border-top: 1px solid var(--bs-gray-700);z-index: 50;" data-bs-theme="dark">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1" style="color: var(--white-color);">
                <ul class="navbar-nav ms-auto" style="color: var(--white-color);">
                    <li class="nav-item dropdown megamenu-li dropdown-hover" style="padding-top: 10px;padding-right: 0px;padding-bottom: 6px;padding-left: 10px;"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" id="dropdownMenuLink" href="#" style="overflow: visible;display: inline-block;font-size: 15px;width: 96px;" role="button" aria-haspopup="true">محصولات&nbsp;</a>
                        <div class="dropdown-menu border-0 w-100" style="padding-top: 50px;border-radius: 0px;padding-bottom: 50px;background: rgb(33,37,41);">
                            <div class="container">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4" style="padding-right: 10%;">
                                    <div class="col-lg-auto text-end d-block">
                                        <p class="mb-0" style="color: var(--bs-success);border-bottom-width: 1px;border-bottom-style: solid;padding-bottom: 5px;width: 110px;"><strong>تهویه مطبوع</strong></p>
                                        <ul class="navbar-nav d-flex flex-column justify-content-xxl-start mb-2" style="padding-right: 0px;padding-top: 10px;">
                                            <% products1.forEach(product => { %>
                                            <li class="nav-item"><a class="nav-link" href="/products/<%= product._id %>"><%= product.title %></a></li>
                                            <% }); %>
                                        </ul>
                                    </div>
                                    <div class="col-lg-auto text-end">
                                        <p class="text-end mb-0" style="color: var(--bs-success);width: 110px;margin-bottom: -3px;border-bottom-width: 1px;border-bottom-style: solid;padding-bottom: 5px;"><strong>صوتی و تصویری</strong></p>
                                        <ul class="navbar-nav d-flex flex-column mb-2" style="padding-right: 0px;padding-top: 10px;">
                                            <% products2.forEach(product => { %>
                                                <li class="nav-item"><a class="nav-link" href="/products/<%= product._id %>"><%= product.title %></a></li>
                                            <% }); %>
                                        </ul>
                                    </div>
                                    <div class="col-lg-auto text-end">
                                        <p class="mb-0" style="padding-bottom: 5px;color: var(--bs-success);width: 85px;border-bottom-width: 1px;border-bottom-style: solid;"><strong>لوازم خانگی</strong></p>
                                        <ul class="navbar-nav d-flex flex-column mb-2" style="padding-right: 0px;padding-top: 10px;">
                                            <% products3.forEach(product => { %>
                                                <li class="nav-item"><a class="nav-link" href="/products/<%= product._id %>"><%= product.title %></a></li>
                                            <% }); %>
                                        </ul>
                                    </div>
                                    <div class="col-lg-auto text-end" style="padding-top: 10px;padding-right: 60px;">
                                        <p class="mb-0 fs-3"><strong>محصولات</strong></p>
                                        <ul class="navbar-nav d-flex flex-column mb-2" style="padding-right: 0px;">
                                            <li class="nav-item">
                                                <h6 style="padding-top: 10px;line-height: 35.2px;">محصولات شرکت گرین را می توان در سه دسته سرمایشی، گرمایشی و تهویه هوا قرار داد شما می توانید<br>&nbsp;با این محصولات نهایت کیفیت را تجربه کنید.</h6>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown megamenu-li dropdown-hover" style="padding-top: 10px;padding-right: 0px;padding-bottom: 6px;padding-left: 10px;"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" id="dropdownMenuLink-1" href="#" style="overflow: visible;display: inline-block;width: 87px;font-size: 15px;" role="button" aria-haspopup="true">درباره ما&nbsp;</a>
                        <div class="dropdown-menu border-0 w-100" style="padding-top: 50px;border-radius: 0px;padding-bottom: 50px;background: rgb(33,37,41);">
                            <div class="container">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4" style="padding-right: 10%;">
                                    <div class="col-lg-auto text-end">
                                        <ul class="navbar-nav d-flex flex-column mb-2" style="padding-right: 0px;">
                                            <li class="nav-item"><a class="nav-link" href="#">درباره گرین</a></li>
                                            <li class="nav-item"></li>
                                            <li class="nav-item"></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-auto text-end" style="padding-top: 10px;padding-right: 60px;">
                                        <p class="mb-0" style="font-size: 28px;"><strong>درباره ما</strong></p>
                                        <ul class="navbar-nav d-flex flex-column mb-2" style="padding-right: 0px;">
                                            <li class="nav-item">
                                                <p style="line-height: 39px;">کمپانی تهویه مطبوع گرین تولیدکننده دستگاه‌های مرکزی و مستقل تأسیساتی، اعم از چیلرهای تراکمی، هواساز، فن کویل،<br>&nbsp;داکت اسپلیت، VRF و کولرهای گازی است</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown megamenu-li dropdown-hover" style="padding-top: 10px;padding-right: 0px;padding-bottom: 6px;padding-left: 10px;"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" id="dropdownMenuLink-2" href="#" style="overflow: visible;display: inline-block;width: 72px;font-size: 15px;" role="button" aria-haspopup="true">فروش&nbsp;</a>
                        <div class="dropdown-menu border-0 w-100" style="padding-top: 50px;border-radius: 0px;padding-bottom: 50px;background: rgb(33,37,41);">
                            <div class="container">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4" style="padding-right: 10%;">
                                    <div class="col-lg-auto text-end">
                                        <ul class="navbar-nav d-flex flex-column mb-2" style="padding-right: 0px;">
                                            <li class="nav-item"><a class="nav-link" href="/projects">پروژه ها</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#">محاسبه بار برودتی</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#">تبدیل واحد آنلاین</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-auto text-end" style="padding-top: 10px;padding-right: 60px;">
                                        <p class="mb-0" style="font-size: 28px;"><strong>فروش</strong></p>
                                        <ul class="navbar-nav d-flex flex-column mb-2" style="padding-right: 0px;">
                                            <li class="nav-item">
                                                <p style="line-height: 39px;">ما در واحد فروش با ارائه مشاوره به شما کمک .میکنیم که بهترین انتخاب را داشته باشید</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" style="padding-top: 10px;padding-bottom: 10px;padding-right: 0px;padding-left: 12px;"><a class="nav-link" href="#" style="font-size: 15px;">نمایندگی فروش</a></li>
                    <li class="nav-item dropdown megamenu-li dropdown-hover" style="padding-top: 10px;padding-right: 0px;padding-bottom: 6px;padding-left: 10px;"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" id="dropdownMenuLink-3" href="#" style="overflow: visible;display: inline-block;width: 165px;font-size: 15px;" role="button" aria-haspopup="true">خدمات پس از فروش&nbsp;</a>
                        <div class="dropdown-menu border-0 w-100" style="padding-top: 50px;border-radius: 0px;padding-bottom: 50px;background: rgb(33,37,41);">
                            <div class="container">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4" style="padding-right: 10%;">
                                    <div class="col-lg-auto text-end">
                                        <ul class="navbar-nav d-flex flex-column mb-2" style="padding-right: 0px;">
                                            <li class="nav-item"><a class="nav-link" href="#">درخواست نصب</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#">ثبت شکایات</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#">نمایندگان خدمات پس از فروش</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-auto text-end" style="padding-top: 10px;padding-right: 60px;">
                                        <p class="mb-0" style="font-size: 28px;"><strong>خدمات پس از فروش</strong></p>
                                        <ul class="navbar-nav d-flex flex-column mb-2" style="padding-right: 0px;">
                                            <li class="nav-item">
                                                <p style="line-height: 39px;">با در اختیار داشتن یکی از بزرگترین بانک های تامین قطعه دستگاه های تهویه مطبوع در ایران، شبکه عاملیت های مجاز<br>خدمات پس از فروش و سایر درخواست کنندگان قرار می دهد.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" style="padding-top: 10px;padding-right: 0px;padding-bottom: 10px;padding-left: 12px;"><a class="nav-link" href="/gallery" style="font-size: 15px;">گالری</a></li>
                    <li class="nav-item" style="padding-top: 10px;padding-right: 0px;padding-bottom: 10px;padding-left: 12px;"><a class="nav-link" href="#" style="font-size: 15px;">اخبار و مقالات</a></li>
                    <li class="nav-item dropdown megamenu-li dropdown-hover" style="padding-top: 10px;padding-right: 0px;padding-bottom: 6px;padding-left: 10px;"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" id="dropdownMenuLink-4" href="#" style="overflow: visible;display: inline-block;width: 101px;font-size: 15px;" role="button" aria-haspopup="true">ارتباط با ما&nbsp;</a>
                        <div class="dropdown-menu border-0 w-100" style="padding-top: 50px;border-radius: 0px;padding-bottom: 50px;background: rgb(33,37,41);">
                            <div class="container">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4" style="padding-right: 10%;">
                                    <div class="col-lg-auto text-end">
                                        <ul class="navbar-nav d-flex flex-column mb-2" style="padding-right: 0px;">
                                            <li class="nav-item"><a class="nav-link" href="#">تماس با ما</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#">ثبت شکایات</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-auto text-end" style="padding-top: 10px;padding-right: 60px;">
                                        <p class="mb-0" style="font-size: 28px;"><strong>ارتباط با ما</strong></p>
                                        <ul class="navbar-nav d-flex flex-column mb-2" style="padding-right: 0px;">
                                            <li class="nav-item">
                                                <p style="line-height: 39px;">راه های ارتباطی مشتریان با واحدهای فروش یا خدمات پس از فروش شرکت تهویه مطبوع گرین</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="float-start float-md-end mt-5 mt-md-0 search-area" style="padding-top: 6px;padding-bottom: 6px;"><i class="fas fa-search float-start search-icon"></i><input class="form-control-sm float-start float-sm-end custom-search-input" type="search" placeholder="جستجوی محصول یا مطلب"></div>
        </div>
    </nav>