<%- include('partials/navs', { title: 'Home' }) %>

<div id="videoContainer">
    <div class="container-fluid d-flex justify-content-center align-items-center align-content-center video-parallax-container">
        <div class="row text-center">
            <div class="col-12" style="color: rgb(242,242,242);">
                <p class="text-center d-flex justify-content-center align-items-center" style="color: var(--bs-body-bg);max-width: 150px;max-height: 50px;height: 35px;background: var(--bs-black);font-size: 15px;">تهویه مطبوع گرین</p>
                <h1 class="text-end" style="color: rgb(255,255,255);margin-bottom: 15px;font-size: 45px;font-weight: bold;">گرین اولین و آخرین</h1>
                <p class="text-end" style="color: rgb(255,255,255);font-size: 18px;">تولید کننده دستگاه های مرکزی و مستقل تاسیساتی اعم از چیلر های تراکمی<br>&nbsp;هواساز، فن کویل، داکت اسپلیت ، VRF و کولر گازی</p>
                <p class="text-end" style="color: #d9d9d9;font-size: .9rem;">با تکیه بر دانش فنی روز اروپا و متخصصین کار آزموده</p><button class="btn btn-success d-flex" type="button" style="border-radius: 0px;padding-right: 18px;padding-left: 18px;padding-top: 8px;padding-bottom: 8px;margin-top: 20px;">بیشتر بدانید</button>
            </div>
        </div><video id="videoIntro" class="filter" autoplay="" loop="" muted="">
            <source src="http://greenac.one:4000/video/home.mp4" type="video/mp4" wp-acf="[{'type':'url','name':'video','label':'Video','wrapper':{'width':30}}]" wp-attr="[{'target':'src','replace':'%1'}]">
        </video>
    </div>
</div>
<section class="d-block justify-content-center align-items-center align-content-center" style="background: var(--bs-body-bg);position: absolute;width: 100%;right: 0;left: 0;z-index: -1;">
    <div class="row d-flex justify-content-center mx-auto" style="width: 65%;padding-top: 50px;padding-bottom: 0px;">
        <div class="col-lg-3" id="cards">
            <div class="card" style="border-radius: 10px;border-bottom-style: none;"><img class="card-img w-100 d-block" src="img/image_blog_bb3.jpg" style="border-radius: 10px;"></div>
            <h5 class="text-center card-head" style="padding-top: 10px;padding-bottom: 10px;">داکت اسپلیت</h5>
        </div>
        <div class="col-lg-3" id="cards">
            <div class="card" style="border-radius: 10px;border-bottom-style: none;"><img class="card-img w-100 d-block" src="img/image_blog_bb11.jpg" style="border-radius: 10px;"></div>
            <h5 class="text-center" style="color: var(--bs-body-color);padding-top: 10px;padding-bottom: 10px;">لباسشویی</h5>
        </div>
        <div class="col-lg-3" id="cards">
            <div class="card" style="border-bottom-style: none;"><img class="card-img w-100 d-block" src="img/image_blog_bb2.jpg" style="border-radius: 10px;"></div>
            <h5 class="text-center" style="color: var(--bs-body-color);padding-top: 10px;padding-bottom: 10px;">کولر گازی</h5>
        </div>
        <div class="col-lg-3" id="cards">
            <div class="card"><img class="card-img w-100 d-block" src="img/image_blog_bb12.jpg" style="border-radius: 10px;border-bottom-style: none;"></div>
            <h5 class="text-center" style="color: var(--bs-body-color);padding-top: 10px;padding-bottom: 10px;">چیلر و فن کویل</h5>
        </div>
    </div>
    <div class="row d-flex justify-content-center m-auto" style="padding-top: 50px;padding-bottom: 50px;width: 65%;">
        <div class="col-lg-3" id="cards">
            <div class="card" style="border-radius: 10px;border-bottom-style: none;"><img class="card-img w-100 d-block" src="img/image_blog_bb1.jpg" style="border-radius: 10px;"></div>
            <h5 class="text-center card-head" style="padding-top: 10px;padding-bottom: 10px;">تصفیه هوا</h5>
        </div>
        <div class="col-lg-3" id="cards">
            <div class="card" style="border-radius: 10px;border-bottom-style: none;"><img class="card-img w-100 d-block" src="img/image_blog_bb7.jpg" style="border-radius: 10px;"></div>
            <h5 class="text-center" style="color: var(--bs-body-color);padding-top: 10px;padding-bottom: 10px;">اسپیکر</h5>
        </div>
        <div class="col-lg-3" id="cards">
            <div class="card" style="border-bottom-style: none;"><img class="card-img w-100 d-block" src="img/image_blog_bb4.jpg" style="border-radius: 10px;"></div>
            <h5 class="text-center" style="color: var(--bs-body-color);padding-top: 10px;padding-bottom: 10px;">VRF</h5>
        </div>
    </div>
    <section class="d-flex justify-content-center align-items-center align-content-center video-parallax-container1 container-fluid" style="overflow: hidden;height: 100vh;"><video class="d-flex" muted="" loop="" autoplay="">
            <source src="http://greenac.one:4000/video/Speaker.mp4" type="video/mp4">
        </video></section>
    <section style="width: 100%;">
        <h1 class="text-center" style="color: var(--bs-body-color);font-size: 35px;padding-top: 40px;padding-bottom: 10px;">اخبار و مقالات</h1>
        <h1 class="text-center" style="color: var(--bs-gray-600);font-size: 20px;">جدیدترین اخبار و مقالات صنعت تهویه مطبوع</h1>
        <div>
            <div class="container">
                <div class="cust_bloglistintro">
                    <p style="margin-left:34px;color:rgba(255,255,255,0.5);font-size:14px;"></p>
                </div>
                <div class="row">
                    <div class="col-md-4 cust_blogteaser" style="padding-bottom: 20px;margin-bottom: 32px;border: 1px solid var(--bs-gray-500);"><a href="#"><img class="img-fluid" style="height:auto;" src="img/تبدیل-واحدهای-مهم-و-کاربردی-در-تاسیسات.jpg"></a>
                        <h3 class="text-end" style="text-align: left;margin-top: 20px;font-family: IRANSansXFaNum;font-size: 18px;margin-right: 0;margin-left: 24px;line-height: 34px;letter-spacing: 0px;font-style: normal;font-weight: bold;color: var(--bs-body-color);">تبدیل واحدهای مهم و کاربردی در تاسیسات</h3>
                        <p class="text-end text-secondary" style="text-align: left;font-size: 14px;font-family: IRANSansXFaNum;line-height: 22px;color: rgb(9,9,10);margin-left: 24px;">مهمترین تبدیل واحد تاسیسات کاربردی ترین و مهمترین تبدیل واحد تاسیسات به شرح زید می‌باشد. </p><a class="h4" href="#"><button class="btn btn-primary" id="more" type="button" style="border-radius: 0px;border-width: 3px;border-style: solid;border-top: 1px solid var(--bs-success);border-right: 1px solid var(--bs-success);border-bottom: 1px solid var(--bs-success);border-left: 1px solid var(--bs-success);">ادامه مطلب</button></a>
                    </div>
                    <div class="col-md-4 cust_blogteaser" style="padding-bottom: 20px;margin-bottom: 32px;border: 1px solid var(--bs-gray-500) ;"><a href="#"><img class="img-fluid" style="height:auto;" src="img/دلایل-اصلی-برگشت-مبرد-مایع-به-کمپرسور.jpg"></a>
                        <h3 class="text-end" style="text-align: left;margin-top: 20px;font-family: IRANSansXFaNum;font-size: 18px;margin-right: 0;margin-left: 24px;line-height: 34px;letter-spacing: 0px;font-style: normal;font-weight: bold;color: var(--bs-body-color);">دلایل اصلی برگشت مبرد مایع به کمپرسور</h3>
                        <p class="text-end text-secondary" style="text-align: left;font-size: 14px;font-family: IRANSansXFaNum;line-height: 22px;color: rgb(9,9,10);margin-left: 24px;">اساس کار کمپرسورهای تبرید جهت تراکم گاز طراحی شده است و حال اگر مبرد مایع وارد سیلندر کمپرسور شود، به دلیل غیر قابل تراکم بودن مایع، فشار شدیدی به سیلندر وارد شد </p><a class="h4" href="#"><button class="btn btn-primary" id="more" type="button" style="border-radius: 0px;border-width: 3px;border-style: solid;border-top: 1px solid var(--bs-success);border-right: 1px solid var(--bs-success);border-bottom: 1px solid var(--bs-success);border-left: 1px solid var(--bs-success);">ادامه مطلب</button></a>
                    </div>
                    <div class="col-md-4 cust_blogteaser" style="padding-bottom: 20px;margin-bottom: 32px;border: 1px solid var(--bs-gray-500) ;"><a href="#"><img class="img-fluid" style="height:auto;" src="img/تفاوت-گاز-۲۲-و-۴۱۰-چیست؟.jpg"></a>
                        <h3 class="text-end" style="text-align: left;margin-top: 20px;font-family: IRANSansXFaNum;font-size: 18px;margin-right: 0;margin-left: 24px;line-height: 34px;letter-spacing: 0px;font-style: normal;font-weight: bold;color: var(--bs-body-color);">تفاوت گاز ۲۲ و ۴۱۰ چیست؟</h3>
                        <p class="text-end text-secondary" style="text-align: left;font-size: 14px;font-family: IRANSansXFaNum;line-height: 22px;color: rgb(9,9,10);margin-left: 24px;">جذب و دفع حرارت ۴۱۰ بیشتر از ۲۲ هست. کمپرسور۴۱۰ خنک تر از ۲۲ کار می کند؛ همچنین ریسک خراب شدن آن به دلیل Over Heat کاهش میابد. </p><a class="h4" href="#"><button class="btn btn-primary" id="more" type="button" style="border-radius: 0px;border-width: 3px;border-style: solid;border-top: 1px solid var(--bs-success);border-right: 1px solid var(--bs-success);border-bottom: 1px solid var(--bs-success);border-left: 1px solid var(--bs-success);">ادامه مطلب</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="d-flex justify-content-center align-items-center align-content-center video-parallax-container1 container-fluid" style="overflow: hidden;height: 100vh;"><video class="d-flex" muted="" loop="" autoplay="">
            <source src="http://greenac.one:4000/video/Vrf.mp4" type="video/mp4">
        </video></section>
    <section style="width: 100%;background: #151515;">
        <div class="container" style="padding-top: 40px;padding-bottom: 40px;">
            <div class="row">
                <div class="col-7 d-flex justify-content-center align-self-center">
                    <h5 class="text-center">دسترسی به نمایندگان گرین در سراسر کشور به سادگی و با بالاترین سرعت</h5>
                </div>
                <div class="col d-flex justify-content-center align-items-center"><button class="btn btn-primary" id="list" type="button" style="padding-right: 20px;padding-left: 20px;border-radius: 0px;border-style: solid;">لیست نمایندگان</button></div>
                <div class="col"><button class="btn btn-primary" id="list-1" type="button" style="padding-right: 20px;padding-left: 20px;border-radius: 0px;border-style: none;">لیست نمایندگان</button></div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid achievments-section">
            <div class="row text-center">
                <div class="col-md-6 col-lg-3 achievement" id="achievement-1" style="height: 80vh;">
                    <div class="achievement-content"><span class="font-monospace plus">+</span>
                        <p class="count-up" data-target="2500" style="color: var(--bs-gray-400);">0</p>
                        <p class="disc" style="color: var(--bs-gray-400);">نمایندگان فعال</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 achievement" id="achievement-2" style="height: 80vh;">
                    <div class="achievement-content"><span class="font-monospace plus" style="font-size: 65px;">+</span>
                        <p class="count-up" data-target="820" style="color: var(--bs-gray-400);">0</p>
                        <p class="disc" style="color: var(--bs-gray-400);">پروژه اجرایی</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 achievement" id="achievement-3" style="height: 80vh;">
                    <div class="achievement-content"><span class="font-monospace plus" style="font-size: 65px;">+</span>
                        <p class="count-up" data-target="12600" style="color: var(--bs-gray-400);">0</p>
                        <p class="disc" style="color: var(--bs-gray-400);">مشتری وفادار</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 achievement" id="achievement-4" style="height: 80vh;">
                    <div class="achievement-content"><span class="font-monospace plus" style="font-size: 65px;">+</span>
                        <p class="count-up" data-target="37" style="color: var(--bs-gray-400);">0</p>
                        <p class="disc" style="color: var(--bs-gray-400);">گواهینامه</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="width: 100%;">
        <h1 class="text-center" style="color: var(--bs-body-color);margin-top: 50px;font-size: 35px;">آخرین پروژه ها</h1>
        <h6 class="text-center" style="color: var(--bs-gray);padding-top: 15px;padding-bottom: 30px;">جدید ترین پروژه های انجام شده توسط مجموعه گرین</h6>
        <div class="blog-slider" style="direction: ltr;margin-bottom: 50px;">
            <div class="blog-slider__wrp swiper-wrapper">
                <% projects.forEach(project => { %>
                <div class="blog-slider__item swiper-slide">
                    <div class="blog-slider__img"><img style="width: 100%; height:100%;" src="<%= project.thumbnail.url %>"></div>
                    <div class="blog-slider__content"><span class="blog-slider__code"><%= project.city %></span>
                        <div class="blog-slider__title">
                            <p><%= project.title %></p>
                        </div>
                        <div class="blog-slider__text">
                            <p><%= project.description %></p>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
            <div class="blog-slider__pagination"></div>
        </div>
    </section>

<%- include('partials/footer') %>
